<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sublethub.mapper.FavoriteMapper">

  <resultMap id="BaseResultMap" type="com.sublethub.entity.Favorite">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="house_id" property="houseId"/>
    <result column="create_time" property="createTime"/>
  </resultMap>

  <select id="selectByUserIdAndHouseId" resultMap="BaseResultMap">
    SELECT * FROM favorites WHERE user_id = #{userId} AND house_id = #{houseId}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap">
    SELECT * FROM favorites WHERE user_id = #{userId} ORDER BY create_time DESC LIMIT #{offset}, #{limit}
  </select>

  <select id="countByUserId" resultType="long">
    SELECT COUNT(*) FROM favorites WHERE user_id = #{userId}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO favorites (user_id, house_id, create_time) VALUES (#{userId}, #{houseId}, NOW())
  </insert>

  <delete id="deleteByUserIdAndHouseId">
    DELETE FROM favorites WHERE user_id = #{userId} AND house_id = #{houseId}
  </delete>
</mapper>
